Intersection of Two Arrays

In [3]:
def intersection(nums1, nums2):
    s1 = set(nums1)
    s2 = set(nums2)
    return list(s1.intersection(s2))

In [5]:
intersection([9,8,4,5],[7,8,9,4])

[8, 9, 4]

Rat count house

In [22]:
def ratcount(r,units,n,arr):
    totalfood = r*units
    return totalfood

In [24]:
ratcount(7,2,8,[9,8,3,4,2])

14

In [59]:
def ratcount(r,units,n,arr):
    #array is null
    if n == 0:
        return -1
        #stealing
    totalfood = r*units
    food = 0
    for house in range(n):
        food = food + arr[house]
        if food >= totalfood:
            break
        #after stealing still not sufficient
    if sum(arr) < totalfood:
        return 0
    #if sufficient return house number
    return house + 1

In [60]:
ratcount(7,2,8,[2,8,3,5,7,4])

4

In [61]:
ratcount(7,2,0,[])

-1

Calculate the factors

In [79]:
def factorlist(nums):
    if nums <= 0:
        return 0
    factors = []
    for i in range(1, nums + 1):
        if nums % i == 0:
            factors.append(i)
    return factors

In [85]:
factorlist(12)

[1, 2, 3, 4, 6, 12]

In [86]:
factorlist(0)

0

In [87]:
factorlist(-12)

0

In [81]:
#List Comprehension 
def fact(nums):
    if nums <= 0:
        return 0
    mylist = [i for i in range(1, nums+1) if nums%i==0]
    return mylist

In [82]:
fact(12)

[1, 2, 3, 4, 6, 12]

In [83]:
fact(-45)

0

In [84]:
fact(0)

0

Reverse a string using stack/array

In [128]:
def reverse(str):
    stack = []
    for i in str:
        stack.append(i)
    reversed_str = ''
    for i in stack:
        stack.pop()
        reversed_str = reversed_str + stack.pop()
    return reversed_str

In [129]:
reverse('kill')

'lk'

In [121]:
class mystack:
    def __init__ (self):
        self.st = []
    def revstr(self, mystr):
        result = ''
        for i in mystr:
            self.st.append(i)
        for i in range(len(self.st)):
            poped = self.st.pop()
            result = result + poped
        return result

In [122]:
B = mystack()
B.revstr("kill")

'llik'

Number of stars of missing number

In [2]:
def miss(arr):
    for i in range(1, arr[-1]+1):
        if i not in arr:
            return i*'*'

In [3]:
arr = [1,2,3,5,6,7,8]
miss(arr)

'****'

In [5]:
arr = [1,2,3,4,5,6,8,9]
miss(arr)

'*******'

Excel Sheet Column Number

In [16]:
chr(65)

'A'

In [12]:
ord('B') -64

2

In [17]:
def col(name):
    result = 0
    for i in name:
        result = result*26+ord(i) -64
    return result

In [19]:
col('AAB')

704

In [20]:
col('BA')

53

Demonstrate ATM functions

- Option 1:Withdrawal
- Option 2:Deposit
- Option 3:Balance enquiry
- Option 4:Offers on FD
- Option 5:Change ATM pin
- Option 6:Quit

In [ ]:
pin = {"Arfa":"4577","Kavya":"7364","Hema":"4534","Bhavya":"3452","Akshatha":"6452"}
bal = {"Arfa":10000,"Kavya":15000,"Hema":20000,"Bhavya":25000,"Akshatha":30000}

In [3]:
def atm(): 
    print("Welcome to KGF Bank") 
    pins = {"Arfa":"4344","Kavya":"7364","Hema":"4534","Bhavya":"3452","Akshatha":"6452"} 
    bal = {"Arfa":10000,"Kavya":15000,"Hema":20000,"Bhavya":25000,"Akshatha":30000} 
    name = input("Enter your name:") 
    pin = input("Enter your pin:") 
    if pins[name] != pin: 
        return "Invalid pin" 
    while True: 
        choices = "Option 1:Withdrawal \n Option 2:Deposit \n option 3: Balance enquiry \n Option 4:Offers on FD \n Option 5:Change ATM pin \n Option 6:Quit \n"
        print(choices) 
        choice = int(input("Enter your Choice")) 
        if choice == 1: 
            print("WITHDRAW") 
            w = int(input("Enter the withdrawal amount: ")) 
            if w > bal[name]:
                print("Insufficient Balance")
            else:
                bal[name] = bal[name] - w
        elif choice == 2: 
            print("DEPOSIT") 
            d = int(input("Enter the deposit amount: ")) 
            bal[name] = bal[name] + d
        elif choice == 3:
            print("Your current Balance is: ", bal[name])
        elif choice == 4:
            print("FD rates are high if you lock 1L for 5years")
        elif choice == 5:
            newpin = input("Enter your new PIN: ")
            pins[name] = newpin
            print("Pin updated")
        elif choice == 6:
            break

In [2]:
atm()

Welcome to KGF Bank

Enter your name: Arfa
Enter your pin: 4577

Option 1:Withdrawal
 Option 2:Deposit
 option 3: Balance enquiry
 Option 4:Offers on FD
 Option 5:Change ATM pin
 Option 6:Quit

Enter your Choice 1

WITHDRAW

Enter the withdrawal amount:  5000

Option 1:Withdrawal
 Option 2:Deposit
 option 3: Balance enquiry
 Option 4:Offers on FD
 Option 5:Change ATM pin
 Option 6:Quit

Enter your Choice 3

Your current Balance is:  5000
Option 1:Withdrawal
 Option 2:Deposit
 option 3: Balance enquiry
 Option 4:Offers on FD
 Option 5:Change ATM pin
 Option 6:Quit

Enter your Choice 2

DEPOSIT

Enter the deposit amount:  10000

Option 1:Withdrawal
 Option 2:Deposit
 option 3: Balance enquiry
 Option 4:Offers on FD
 Option 5:Change ATM pin
 Option 6:Quit

Enter your Choice 3

Your current Balance is:  15000
Option 1:Withdrawal
 Option 2:Deposit
 option 3: Balance enquiry
 Option 4:Offers on FD
 Option 5:Change ATM pin
 Option 6:Quit

Enter your Choice 4

FD rates are high if you lock 1L for 5years
Option 1:Withdrawal
 Option 2:Deposit
 option 3: Balance enquiry
 Option 4:Offers on FD
 Option 5:Change ATM pin
 Option 6:Quit

Enter your Choice 5
Enter your new PIN:  4344

Pin updated
Option 1:Withdrawal
 Option 2:Deposit
 option 3: Balance enquiry
 Option 4:Offers on FD
 Option 5:Change ATM pin
 Option 6:Quit

Enter your Choice 6

In [4]:
pins = {"Arfa":"4344","Kavya":"7364","Hema":"4534","Bhavya":"3452","Akshatha":"6452"} 
print(pins["Arfa"])

4344

Removing Nth node from Linked List

In [14]:
class linkedlist:
    class Node:
        def __init__ (self, data):
            self.data = data
            self.next = None
    def __init__(self):
        self.head = None
    def insertbegg(self, data):
        newnode = linkedlist.Node(data)
        newnode.next = self.head
        self.head = newnode
    def traverse(self,current):
        current = self.head
        while current:  
            print(current.data, end=" --> ")
            current = current.next
        print(None)
    def nodefromrev(self,n):
        count = 0
        current = self.head
        while current:
            count = count+1
            current = current.next
        if count == n:
            return self.head.next
        ptr1 = self.head
        for _ in range(count-n-1):
            ptr1 = ptr1.next
        ptr1.next = ptr1.next.next

In [15]:
LL = linkedlist()
LL.insertbegg(86)
LL.insertbegg(93)
LL.insertbegg(71)
LL.insertbegg(4)
LL.insertbegg(6)
LL.insertbegg(7)

In [18]:
LL.traverse(linkedlist)

7 --> 6 --> 4 --> 71 --> 93 --> 86 --> None

In [20]:
LL.nodefromrev(4)

In [21]:
LL.traverse(linkedlist)

7 --> 6 --> 71 --> 93 --> 86 --> None